<div class="container" style="background-color: white; min-height:1000px;">
    <button [routerLink]="['/subjects/edit', subject._id]" class="btn btn-warning btn-sm float-right">Edit</button>        
    <!-- Display all the Subject content  -->


    <!-- User rating chart  -->


    <!-- Show all the reviews -->


    <!-- Post a review -->
    <form>
        <textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
        <button type="button" name="button" class="btn btn-sm btn-info">Post Review</button>
        <button type="button" name="button" class="btn btn-sm btn-info">Cancel</button>

    </form>


</div>