<!--<div *ngIf="subject">-->
<!--<h2>{{subject.subjectName | uppercase}} Details</h2>-->
<!--<div><span>id: </span>{{subject.subjectCode}}</div>-->
<!--<div>-->
<!--<label>name:-->
<!--&lt;!&ndash; <input [(ngModel)]="subject.subjectName" placeholder="subjectName"/> &ndash;&gt;-->
<!--</label>-->
<!--</div>-->
<!--<button (click)="goBack()">go back</button>-->
<!--<button (click)="save()">save</button>-->
<!--</div>-->
<div class="card text-center">
  <div class="card-header">
    {{subject.subjectCode}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{subject.subjectName}}</h5>
    <p class="card-text">subject content.</p>
    <button class="btn btn-primary" (click)="goBack()">go back</button>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Add Rating!</h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="ratingTitle">Rating Title</label>
        <input name="ratingTitle" [(ngModel)]="rating.ratingTitle" type="text" class="form-control" id="ratingTitle"
               placeholder="Enter Rating Title">
      </div>
      <div class="form-group">
        <label for="ratingDescription">Subject name</label>
        <input name="ratingDescription" [(ngModel)]="rating.ratingDescription" class="form-control"
               id="ratingDescription"
               placeholder="Enter Rating Description">
      </div>
      <button type="submit" (click)='addRating()'>Add Rating</button>
    </form>
  </div>
</div>
<div class="card text-center" *ngFor="let rating of ratings">
  <div *ngIf="rating.editFlag == false">
    <div class="card-header">
      {{rating.ratingTitle}}
    </div>
    <div class="card-body">
      <h5 class="card-title">USERNAME</h5>
      <p class="card-text">{{rating.ratingDescription}}</p>
      <button class="btn btn-outline-danger" title="delete rating"
              (click)="delete(rating)">delete
      </button>
      <button class="btn btn-outline-warning" title="edit rating"
              (click)="edit(rating)">edit
      </button>
    </div>
  </div>
  <div *ngIf="rating.editFlag == true">
    <form>
      <div class="form-group">
        <label for="ratingTitle1">Rating Title</label>
        <input name="ratingTitle1" [(ngModel)]="rating.ratingTitle" type="text" class="form-control" id="ratingTitle1"
               placeholder="Enter Rating Title">
      </div>
      <div class="form-group">
        <label for="ratingDescription1">Rating Description</label>
        <input name="ratingDescription1" [(ngModel)]="rating.ratingDescription" class="form-control"
               id="ratingDescription1"
               placeholder="Enter Rating Description">
      </div>
      <button type="submit" (click)='editRating(rating)'>Edit Rating</button>
    </form>
  </div>
</div>

<!--<form>-->
<!--<div class="form-group">-->
<!--<label for="subjectCode">Subject code</label>-->
<!--<input name="subjectCode" [(ngModel)]="subject.subjectCode" type="text" class="form-control" id="subjectCode">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="subjectName">Subject name</label>-->
<!--<input name="subjectName" [(ngModel)]="subject.subjectName" class="form-control" id="subjectName"-->
<!--placeholder="Enter Subject name">-->
<!--</div>-->

<!--<button (click)="goBack()">go back</button>-->
<!--<button (click)="save()">save</button>-->
<!--<button (click)="delete()">delete</button>-->

<!--</form>-->
