<h2>My Subjects</h2>

<!--<div>-->
<!--<label>Subject name:-->
<!--<input #subjectName/>-->
<!--</label>-->
<!--&lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
<!--<button (click)="add(subjectName.value); subjectName.value=''">-->
<!--add-->
<!--</button>-->
<!--</div>-->

<!--<ul class="subjects">-->
<!--<li *ngFor="let subject of subjects">-->
<!--<a routerLink="/detail/{{subject.subjectCode}}">-->
<!--<span class="badge">{{subject.subjectCode}}</span> {{subject.subjectName}}-->
<!--</a>-->
<!--<button class="delete" title="delete subject"-->
<!--(click)="delete(subject)">x-->
<!--</button>-->
<!--</li>-->
<!--</ul>-->
<div class="float-right">
  <a class="nav-link" href="subjects/add">Add subject</a>

</div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Subject #</th>
        <th scope="col">Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <tr *ngFor="let subject of subjects">
        <th scope="row">{{subject.subjectCode}}</th>
        <td>{{subject.subjectName}}</td>
        <td>N/A</td>
        <td>
          <button class="btn btn-outline-primary" routerLink="detail/{{subject.subjectCode}}">View
          </button>
          <button class="btn btn-outline-danger" title="delete subject" (click)="delete(subject)">delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>