<h2>Registration</h2> <br/>

<form class="form-horizontal" (submit)="onRegisterSubmit()">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Name</label>  
  <div class="col-md-4">
  <input [(ngModel)]= "name" name="name" type="text" class="form-control input-md" required="">
  </div> 
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Email</label>  
  <div class="col-md-4">
  <input [(ngModel)] = "email" name="email" type="text" class="form-control input-md" required="">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label">Password</label>
  <div class="col-md-4">
    <input [(ngModel)]="password" name="password" type="password" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-8">
    <button name="save" class="btn btn-success">Register</button>
  </div>
</div>
</form>

<div class="container">
Already have an account? <a routerLink="/login"><u>Sign In</u></a>
</div>
