<form>
  <div class="form-group">
    <label for="subjectCode">Subject code</label>
    <input name="subjectCode" [(ngModel)]="subject.subjectCode" type="text" class="form-control" id="subjectCode"
           placeholder="Enter Subject code">
  </div>
  <div class="form-group">
    <label for="subjectName">Subject name</label>
    <input name="subjectName" [(ngModel)]="subject.subjectName" class="form-control" id="subjectName"
              placeholder="Enter Subject name">
  </div>


  <button (click)="addSubject()" type="button" class="btn btn-primary">Add</button>
</form>
