<div class="container">
  <br>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-rotate">
    <p style="font-size: 20px; color: white">Loading... All the Subjects</p>
  </ngx-spinner>
  <h5 style="margin-left: 30px">Subject Search Bar</h5>
  <div class="col-sm-12">
    <div class="input-group">
      <input #searchBox id="search-box" style="width:80%; margin-left: 30px" [ngModel]="input" (keyup)="search(searchBox.value)"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <p>{{filter}}</p>
  <div class="col-sm-12">
    <div class="design-display" *ngFor="let subject of subjects">
      <div class="card shadow" [style.display]="subject.isVisible? '' : 'none'">
        <div class="card-header text-center">
          <h5><code class="card-title">{{ subject.subjectNumber }}</code> {{ subject.subjectName }}</h5>
          <p class="card-title text-center" style="font-size:16px;"></p>
        </div>
        <div class="card-body">
          {{subject.description}}
        </div>
        <!-- footer start -->
        <div class="card-footer">
          <div>

            <div class="stars-outer">
              <div class="stars-inner" [style.width]="subject.percentageRating + '%'">

              </div>
            </div>
            <!-- Ratings --><br/>
            {{subject.numberOfReview}} reviews

            <button [routerLink]="['/subjects/detail/', subject._id]" class="btn btn-warning btn-sm float-right">Find
              out more
            </button>
          </div>
          <!-- footer end-->
        </div>
      </div>
    </div>
  </div>
</div>
