<div class="container">
<!-- <app-subject-search></app-subject-search>
<h3>High Rated Subjects</h3>
<div class="row">
  <div class="card text-center" style="width: 15rem;" *ngFor="let subject of subjects" >
    <div class="card-header">
      <h5>{{subject.subjectCode}}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title" >
        <span class="badge badge-pill badge-danger">Hot!</span>
      </h5>
      <p class="card-text">{{subject.subjectName}}</p>
      <p class="card-text">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </p>
      <a routerLink="/subjects/detail/{{subject.subjectCode}}" class="btn btn-primary">Rate now!</a>
    </div>
  </div>
</div>
<br> -->

</div>



<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
