<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Subject Review</a>

    <!-- <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']">Login</a></li>
      <li [routerLinkActive]= "['Active']" [routerLinkActiveOptions]: "{exact:true}"><a [routerLink]="['/register']">Register</a></li>
      <li><a (click)="onLogoutClick()" href="#">Logout</a></li>
    </ul> -->
  </nav>