<nav class="navbar navbar-dark bg-dark mb-5">
  <a *ngIf="!authService.user" class="navbar-brand" href="/">Subject Review</a>
  <a *ngIf="authService.user" class="navbar-brand" href="/dashboard">Subject Review</a>

  <!-- navigation bar -->
  <ul class="nav nav-pills float-right">>
    <li *ngIf="!authService.user" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
    </li>
    <li *ngIf="authService.user" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <button class="btn btn-link" [routerLink]="['/subjects']">Subjects</button>
    </li>
    <li *ngIf="authService.user" class="nav-item" >
      <button class="btn btn-link" >Profile</button>
    </li>
    <li *ngIf="!authService.user" class="nav-item" [routerLinkActive]="['Active']" [routerLinkActiveOptions]="{exact:true}">
      <button class="btn btn-link" [routerLink]="['/register']">Register</button>
    </li>
    <li *ngIf="authService.user" class="nav-item">
      <button class="btn btn-link" (click)="onClickLogout()" href="#">Logout</button>
    </li>
  </ul>
</nav>
