/* HeroSearch private styles */
.search-result li {
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: lightblue;
  }
  
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: black;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 195px;
    height: 40px;
  }
  
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }